<% layout('layouts/layout') -%>

<h1>Bookings</h1>

<div class="mb-3">
  <% if (currentUser && currentUser.role !== 'APPROVER') { %>
<a href="/bookings/create" class="btn btn-primary">Create Booking</a>
<a href="/bookings/export/excel" class="btn btn-success ms-2">Export to Excel</a>
<% } %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Booking Number</th>
      <th>User</th>
      <th>Vehicle</th>
      <th>Driver</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Destination</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(booking => { %>
      <tr>
        <td><%= booking.id %></td>
        <td><a href="/bookings/<%= booking.id %>"><%= booking.booking_number %></a></td>
        <td><%= booking.user_username %></td>
        <td><%= booking.vehicle_number %></td>
        <td><%= booking.driver_number %></td>
        <td><%= booking.startDate.toLocaleDateString() %></td>
        <td><%= booking.endDate.toLocaleDateString() %></td>
        <td><%= booking.destination %></td>
        <td><%= booking.status %></td>
      </tr>
    <% }) %>
  </tbody>
</table>